/*
	New Perspectives on HTML and CSS
	Tutorial 3
	Case Problem 2

	Mountain Wheels Text and Color Style
	Author: Maggie George
	Date:	October 19th 2015

	Filename:			mw_layout.css
	Supporting Files: none

*/

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#articleheader {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 7px;
	text-align: center;
}

nav ul {
	background-color: rgb(125, 120, 89);
	line-height: 3em;
	list-style-type: none;
}

nav li a {
	color: rgba(255, 255, 255, .5);
	text-decoration: none;
}

nav ul li:hover {
	background-color: rgb(131, 121, 36);
	list-style-image: url(wheelmarker.png);
	color: white;
}

#leftsection >p {
	font-size: 22px;
}

3leftsection>p:first-line {
	text-transform: uppercase;
}

blockquote {
	background-color: rgb(131, 121, 36);
	color: white;
	font-family: 'Comic Sans MS', 'Times', cursive;
	font-size: 16px;
}

blockquote p:before {
	content: '"'
}

blockquote p:after {
	content: '"'
}

#rightsection h1 {
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 3px;
	text-align: center;
}

#rightsection h2 {
	font-size: 18px;
	text-align: right;
	font-weight: normal;
}

#rightsection p {
	color: gray;
	font-size: 14px;
	text-align: justify
}

footer address {
	font-size: 16px;
	font-style: normal;
	text-align: center;
}
